bh-suggestions {
	display: block;
	tr {
		cursor: pointer;
		td:first-child {
			padding-left: 15px;
		}
	}
	.scroll {
		max-height: 215px;
		overflow-y: auto;
		.table {
			margin-bottom: 0;
		}
	}
}