db/*.sqlite3
log/*.log
tmp/
bin/
.bundle/
.DS_Store
public/uploads
.vagrant/
bithub-client/
public/bower_components/
tags
stripe-mock-server.log
.sass-cache
.sass-cache/
.yardoc
node_modules
npm-debug.log
public/dist
newrelic_agent.log
