.menu {
	float: right;
	margin-top: 25px;
	li {
		float: left;
	}

}

.sidebar-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	bh-sidebar {
		width: 550px;
		height: 100%;
		margin-left: -500px;
		-webkit-transition: margin-left 0.3s ease-in-out;
		-moz-transition: margin-left 0.3s ease-in-out;
		-o-transition: margin-left 0.3s ease-in-out;
		transition: margin-left 0.3s ease-in-out;
		&.is-expanded {
			margin-left: 0;
		}
	}
}