bh-moderation {
	display: block;
	padding: 15px 0;
	.options-wrapper {
		background: #fafafa;
		border-radius: 3px;
		margin: 15px 0;
		padding: 15px;
	}
	.buttons-wrapper {
		margin: 0 -25px;
		padding: 15px 25px 0;
		border-top: 1px solid #ddd;
	}
}