---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 67d6bf9862995f2c354a30eb8d22727e079a8c51
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1427242992'
      Etag:
      - W/"1e36cfc6fddce761b90eb5632ddddd7b"
      X-Oauth-Scopes:
      - read:org, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 188c7dc22e4e8b354ce8
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"id":1277455,"name":"rmeetup","full_name":"Jberlinsky/rmeetup","owner":{"login":"Jberlinsky","id":16839,"avatar_url":"https://avatars.githubusercontent.com/u/16839?v=3","gravatar_id":"","url":"https://api.github.com/users/Jberlinsky","html_url":"https://github.com/Jberlinsky","followers_url":"https://api.github.com/users/Jberlinsky/followers","following_url":"https://api.github.com/users/Jberlinsky/following{/other_user}","gists_url":"https://api.github.com/users/Jberlinsky/gists{/gist_id}","starred_url":"https://api.github.com/users/Jberlinsky/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Jberlinsky/subscriptions","organizations_url":"https://api.github.com/users/Jberlinsky/orgs","repos_url":"https://api.github.com/users/Jberlinsky/repos","events_url":"https://api.github.com/users/Jberlinsky/events{/privacy}","received_events_url":"https://api.github.com/users/Jberlinsky/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Jberlinsky/rmeetup","description":"A
        Ruby Gem for accessing the Meetup.com API","fork":true,"url":"https://api.github.com/repos/Jberlinsky/rmeetup","forks_url":"https://api.github.com/repos/Jberlinsky/rmeetup/forks","keys_url":"https://api.github.com/repos/Jberlinsky/rmeetup/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Jberlinsky/rmeetup/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Jberlinsky/rmeetup/teams","hooks_url":"https://api.github.com/repos/Jberlinsky/rmeetup/hooks","issue_events_url":"https://api.github.com/repos/Jberlinsky/rmeetup/issues/events{/number}","events_url":"https://api.github.com/repos/Jberlinsky/rmeetup/events","assignees_url":"https://api.github.com/repos/Jberlinsky/rmeetup/assignees{/user}","branches_url":"https://api.github.com/repos/Jberlinsky/rmeetup/branches{/branch}","tags_url":"https://api.github.com/repos/Jberlinsky/rmeetup/tags","blobs_url":"https://api.github.com/repos/Jberlinsky/rmeetup/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Jberlinsky/rmeetup/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Jberlinsky/rmeetup/git/refs{/sha}","trees_url":"https://api.github.com/repos/Jberlinsky/rmeetup/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Jberlinsky/rmeetup/statuses/{sha}","languages_url":"https://api.github.com/repos/Jberlinsky/rmeetup/languages","stargazers_url":"https://api.github.com/repos/Jberlinsky/rmeetup/stargazers","contributors_url":"https://api.github.com/repos/Jberlinsky/rmeetup/contributors","subscribers_url":"https://api.github.com/repos/Jberlinsky/rmeetup/subscribers","subscription_url":"https://api.github.com/repos/Jberlinsky/rmeetup/subscription","commits_url":"https://api.github.com/repos/Jberlinsky/rmeetup/commits{/sha}","git_commits_url":"https://api.github.com/repos/Jberlinsky/rmeetup/git/commits{/sha}","comments_url":"https://api.github.com/repos/Jberlinsky/rmeetup/comments{/number}","issue_comment_url":"https://api.github.com/repos/Jberlinsky/rmeetup/issues/comments{/number}","contents_url":"https://api.github.com/repos/Jberlinsky/rmeetup/contents/{+path}","compare_url":"https://api.github.com/repos/Jberlinsky/rmeetup/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Jberlinsky/rmeetup/merges","archive_url":"https://api.github.com/repos/Jberlinsky/rmeetup/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Jberlinsky/rmeetup/downloads","issues_url":"https://api.github.com/repos/Jberlinsky/rmeetup/issues{/number}","pulls_url":"https://api.github.com/repos/Jberlinsky/rmeetup/pulls{/number}","milestones_url":"https://api.github.com/repos/Jberlinsky/rmeetup/milestones{/number}","notifications_url":"https://api.github.com/repos/Jberlinsky/rmeetup/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Jberlinsky/rmeetup/labels{/name}","releases_url":"https://api.github.com/repos/Jberlinsky/rmeetup/releases{/id}","created_at":"2011-01-21T05:50:12Z","updated_at":"2014-12-14T19:29:13Z","pushed_at":"2012-04-12T14:16:50Z","git_url":"git://github.com/Jberlinsky/rmeetup.git","ssh_url":"git@github.com:Jberlinsky/rmeetup.git","clone_url":"https://github.com/Jberlinsky/rmeetup.git","svn_url":"https://github.com/Jberlinsky/rmeetup","homepage":"http://www.jasonberlinsky.com/","size":211,"stargazers_count":31,"watchers_count":31,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":27,"mirror_url":null,"open_issues_count":4,"forks":27,"open_issues":4,"watchers":31,"default_branch":"master","master_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":17984478,"name":"actor_demo","full_name":"neektza/actor_demo","owner":{"login":"neektza","id":816489,"avatar_url":"https://avatars.githubusercontent.com/u/816489?v=3","gravatar_id":"","url":"https://api.github.com/users/neektza","html_url":"https://github.com/neektza","followers_url":"https://api.github.com/users/neektza/followers","following_url":"https://api.github.com/users/neektza/following{/other_user}","gists_url":"https://api.github.com/users/neektza/gists{/gist_id}","starred[...]
