---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/778255945594351_778256535594292?access_token=do_not_change&fields=attachments,from,message,picture,link,object_id,updated_time,type,status_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"c85c94bb7578f99d4a566dd05f959e3a049c0377"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: UTF-8
      string: '{"from":{"category":"Internet\/software","name":"Floating Point","id":"778255945594351"},"updated_time":"2015-02-10T17:59:48+0000","type":"status","status_type":"added_photos","id":"778255945594351_778256535594292","created_time":"2015-02-10T17:59:48+0000","attachments":{"data":[{"subattachments":{"data":[{"media":{"image":{"height":618,"src":"https:\/\/fbcdn-sphotos-g-a.akamaihd.net\/hphotos-ak-xfa1\/v\/t1.0-9\/10991192_778257232260889_197866959651770848_n.png?oh=325aa1877fab9b4f4b6c73de41648349&oe=559219F3&__gda__=1435072675_6952eed0ce3eb469be557dc808097614","width":618}},"target":{"id":"778255945594351","url":"https:\/\/www.facebook.com\/floatingpointio"},"title":"Floating
        Point","type":"photo","url":"https:\/\/www.facebook.com\/floatingpointio"},{"media":{"image":{"height":584,"src":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/v\/t1.0-9\/10995300_778256518927627_3031917504078917591_n.png?oh=8c27216cd0d11ab719c3091c635099b8&oe=558EAD61","width":518}},"target":{"id":"778255945594351","url":"https:\/\/www.facebook.com\/floatingpointio"},"title":"Floating
        Point","type":"photo","url":"https:\/\/www.facebook.com\/floatingpointio"}]},"type":"gallery"}]}}'
  recorded_at: Tue, 03 Mar 2015 17:51:55 GMT
recorded_with: VCR 2.9.3
