---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/9820112.json?client_id=045f29acbe4c44938084e394279cbb64
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":[],"location":null,"comments":{"count":0,"data":[]},"filter":"X-Pro
        II","created_time":"1292542793","link":"http:\/\/instagram.com\/p\/ldfQ\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/outbound-distillery\/t0.0-17\/OBPTH\/media\/2010\/12\/16\/5decf9d5e9fd4583a1e61b595d3cabad_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/outbound-distillery\/t0.0-17\/OBPTH\/media\/2010\/12\/16\/5decf9d5e9fd4583a1e61b595d3cabad_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/outbound-distillery\/t0.0-17\/OBPTH\/media\/2010\/12\/16\/5decf9d5e9fd4583a1e61b595d3cabad_7.jpg","width":612,"height":612}},"users_in_photo":[],"caption":{"created_time":"1292542793","text":"She''s
        home!","from":{"username":"sbradford","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_558546_75sq_1289233190.jpg","id":"558546","full_name":"sbradford"},"id":"9867134"},"type":"image","id":"9820112_558546","user":{"username":"sbradford","website":"","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_558546_75sq_1289233190.jpg","full_name":"sbradford","bio":"","id":"558546"}}}'
  recorded_at: Fri, 19 Dec 2014 18:12:27 GMT
recorded_with: VCR 2.9.3
