---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/nofilter/media/recent.json?client_id=045f29acbe4c44938084e394279cbb64&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1419429253352277","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1419429253352277","next_min_id":"1419429253674234","min_tag_id":"1419429253674234","next_url":"https:\/\/api.instagram.com\/v1\/tags\/nofilter\/media\/recent?count=1\u0026client_id=045f29acbe4c44938084e394279cbb64\u0026max_tag_id=1419429253352277"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"location":{"latitude":60.631337338,"longitude":6.425800156},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1419428977","link":"http:\/\/instagram.com\/p\/w_eKHhIkMg\/","likes":{"count":6,"data":[{"username":"meetthepups","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/927353_294883064026514_409159599_a.jpg","id":"408579529","full_name":"Meet
        The Pups"},{"username":"techka0211","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10784899_370818196399114_2145286587_a.jpg","id":"1180993611","full_name":"Iwasa
        tetsuya"},{"username":"kateborodkina32","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10817609_882793351764678_1932719912_a.jpg","id":"1294492254","full_name":"\u0415\u043a\u0430\u0442\u0435\u0440\u0438\u043d\u0430
        \u0411\u043e\u0440\u043e\u0434\u043a\u0438\u043d\u0430"},{"username":"oliverlorenz_270914","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10852983_362869277206043_212868732_a.jpg","id":"1511913993","full_name":"Oliver
        | 17 | C\u2764\ufe0f\ud83d\udd12270914\ud83d\udc8e\ud83d\udc8d"}]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/10865285_333234006859952_2081515259_a.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/10865285_333234006859952_2081515259_s.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/10865285_333234006859952_2081515259_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1419428977","text":"Merry
        Christmas! \ud83c\udf85\ud83c\udf84\ud83c\udf81\u26c4\ufe0f","from":{"username":"anjaatombre","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10414053_255629591227902_1518828897_a.jpg","id":"188077191","full_name":"A
        N J A  \ud83d\udc8e"},"id":"882556689153410013"},"type":"image","id":"882556688650093344_188077191","user":{"username":"anjaatombre","website":"","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10414053_255629591227902_1518828897_a.jpg","full_name":"A
        N J A  \ud83d\udc8e","bio":"","id":"188077191"}}]}'
  recorded_at: Wed, 24 Dec 2014 13:48:00 GMT
recorded_with: VCR 2.9.3
