---
http_interactions:
- request:
    method: get
    uri: https://api.tumblr.com/v2/blog/puuluu.tumblr.com/posts?api_key=Ez4acE2jPlzAPs2tfdYKTwje1loVRJMXBS76ijtetoPKRfQJKd&limit=1&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ez4acE2jPlzAPs2tfdYKTwje1loVRJMXBS76ijtetoPKRfQJKd",
        oauth_nonce="ad79986dc91932d7ae3b91bb2997dca6", oauth_signature="OUcuilv8phv3PxWgXorr3sP%2Fwy0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1425032142", oauth_token="",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"title":"Untitled","name":"puuluu","posts":7792,"url":"http:\/\/puuluu.tumblr.com\/","updated":1423434919,"description":"","is_nsfw":false,"ask":false,"ask_page_title":"Ask
        me anything","ask_anon":false,"share_likes":true,"likes":3707},"posts":[{"blog_name":"puuluu","id":110480264631,"post_url":"http:\/\/puuluu.tumblr.com\/post\/110480264631\/medverf-jim-lee","slug":"medverf-jim-lee","type":"photo","date":"2015-02-08
        22:35:19 GMT","timestamp":1423434919,"state":"published","format":"html","reblog_key":"6eUmUVED","tags":[],"short_url":"http:\/\/tmblr.co\/ZT213y1cv8mst","highlighted":[],"note_count":40,"source_url":"http:\/\/medverf.tumblr.com\/post\/110464228559\/jim-lee","source_title":"medverf","caption":"\u003Cp\u003E\u003Ca
        href=\u0022http:\/\/medverf.tumblr.com\/post\/110464228559\/jim-lee\u0022
        class=\u0022tumblr_blog\u0022\u003Emedverf\u003C\/a\u003E:\u003C\/p\u003E\u003Cblockquote\u003E\u003Cp\u003EJim
        Lee\u003C\/p\u003E\u003C\/blockquote\u003E","reblog":{"tree_html":"\u003Cp\u003E\u003Ca
        href=\u0022http:\/\/medverf.tumblr.com\/post\/110464228559\/jim-lee\u0022
        class=\u0022tumblr_blog\u0022\u003Emedverf\u003C\/a\u003E:\u003C\/p\u003E\u003Cblockquote\u003E\u003Cp\u003EJim
        Lee\u003C\/p\u003E\u003C\/blockquote\u003E","comment":"","trail":[{"blog":{"name":"medverf","theme":{"header_full_width":1500,"header_full_height":1082,"header_focus_width":1500,"header_focus_height":844,"avatar_shape":"circle","background_color":"#3c045e","body_font":"Helvetica
        Neue","header_bounds":"6,1500,850,0","header_image":"http:\/\/static.tumblr.com\/c1f0b35feae5741585e481dd16168db0\/m1is76s\/2hNnj4rl2\/tumblr_static_e5updf99l48owcckck0cwo4s4.jpg","header_image_focused":"http:\/\/static.tumblr.com\/c1f0b35feae5741585e481dd16168db0\/m1is76s\/lkonj4rl4\/tumblr_static_tumblr_static_e5updf99l48owcckck0cwo4s4_focused_v3.jpg","header_image_scaled":"http:\/\/static.tumblr.com\/c1f0b35feae5741585e481dd16168db0\/m1is76s\/2hNnj4rl2\/tumblr_static_e5updf99l48owcckck0cwo4s4_2048_v2.jpg","header_stretch":true,"link_color":"#529ECC","show_avatar":true,"show_description":true,"show_header_image":true,"show_title":true,"title_color":"#444444","title_font":"Helvetica
        Neue","title_font_weight":"bold"}},"post":{"id":"110464228559"},"comment":"\u003Cp\u003EJim
        Lee\u003C\/p\u003E"}]},"image_permalink":"http:\/\/puuluu.tumblr.com\/image\/110480264631","photos":[{"caption":"","alt_sizes":[{"width":720,"height":582,"url":"http:\/\/36.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_1280.jpg"},{"width":500,"height":404,"url":"http:\/\/40.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_500.jpg"},{"width":400,"height":323,"url":"http:\/\/40.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_400.jpg"},{"width":250,"height":202,"url":"http:\/\/40.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_250.jpg"},{"width":100,"height":81,"url":"http:\/\/41.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_100.jpg"},{"width":75,"height":75,"url":"http:\/\/40.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_75sq.jpg"}],"original_size":{"width":720,"height":582,"url":"http:\/\/36.media.tumblr.com\/2a387708e2707faa1de7190abb82c052\/tumblr_njgxe4EHJd1qd1iyxo1_1280.jpg"},"exif":{"Camera":"Panasonic
        DMC-ZS5","ISO":200,"Aperture":"f\/3.3","Exposure":"1\/30th","FocalLength":"4mm"}}]}],"total_posts":7792}}'
  recorded_at: Fri, 27 Feb 2015 10:15:43 GMT
recorded_with: VCR 2.9.3
