bh-oauthorizer {
	display: block;
	.oauthorizer-loader {
		height: 20px;
		line-height: 20px;
	}
	.oauthorize-help {
		margin: 15px -15px 0;
		padding: 15px 15px 0;
		border-top: 1px solid #ccc;
		color: #333;
		h4 {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	.select-identity-or-oauth {
		label {
			color: #666;
		}
		.select-wrap, .oauth-wrap {
			float: left;
			width: 45%;
			.btn {
				width: 100%;
			}
		}
		.or-wrap {
			float: left;
			width: 10%;
			text-align: center;
			font-style: italic;
			padding-top: 7px;
		}
	}
}