bh-body-wrap {
	display: block;
	.body-wrap {
		overflow: hidden;
	}
	&.short {
		.collapsed {
			max-height: 150px;
		}
	}
	&.tall {
		.collapsed {
			max-height: 350px;
		}
	}
	
	.expand-collapse {
		text-align: center;
		color: #666;
		cursor: pointer;
		padding: 10px 0;
		box-shadow: 0 0 20px 10px #fff;
		position: relative;
		z-index: 10;
		&:hover {
			color: #000;
		}
	}
	.no-gradient {
		box-shadow: none;
	}
}

.dark-theme {
	bh-bit .expand-collapse {
		box-shadow: 0 0 20px 10px #1f1f1f;
	}
}